[Unit]
Description=AmneziaWG Session Tracking Daemon
After=network.target amnezia-auth.service

[Service]
User=amnezia-daemon
WorkingDirectory={{ app_install_dir }}
ExecStart={{ app_install_dir }}/venv/bin/python daemon.py
Restart=always

[Install]
WantedBy=multi-user.target
