[Interface]
Address = {{ vpn_server_ip }}/24
ListenPort = {{ vpn_port }}
PrivateKey = {{ vault.server_private_key }}
{{ awg_obfuscation_settings }}

# PostUp/PostDown to manage base firewall rules
PostUp = iptables -I INPUT -p udp --dport {{ vpn_port }} -j ACCEPT
PostDown = iptables -D INPUT -p udp --dport {{ vpn_port }} -j ACCEPT

{% for peer in vpn_peers %}
[Peer]
# {{ peer.name }}
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.ip }}/32
{% endfor %}
