---
# Standard variables can go here
authelia_internal_ip: "10.0.0.100"
captive_portal_port: 8000

# VPN Network Settings
vpn_port: 5281

# Allowed Subnets to route through the VPN
allowed_subnets:
  - "172.31.0.0/16"

# Custom AmneziaWG Obfuscation Parameters
awg_obfuscation_settings: |
  Jc = 120
  Jmin = 50
  Jmax = 100
  S1 = 15
  S2 = 25
  S3 = 15
  S4 = 25
  H1 = 123456789
  H2 = 987654321
  H3 = 111222333
  H4 = 444555666
  I1 = <b 0x1a2d>
  I2 = <b 0x1a2d>
  I3 = <b 0x1a2d>
  I4 = <b 0x1a2d>
  I5 = <b 0x1a2d>

# The public IP or domain name of this VPN server
vpn_public_ip_or_domain: "198.51.100.1"

# OIDC Configuration
oidc_client_id: "vpn-gateway"
oidc_discovery_url: "https://REPLACE_ME_AUTH_DOMAIN/.well-known/openid-configuration"
